<body>
    <%= javascript_include_tag "application" %>
    <%= javascript_include_tag "jquery.flot" %>
    <div class="nav">
        <div class="container">
            <ul class="pull-left">

                <li><%= link_to "Home", controller: "sensors"%></li>

                <li><%= link_to "Estatisticas", controller: "sensors", action: "statistics" %></li>
            </ul>
        </div>
    </div>
    <div class="container">

        <div class="row">
            <div role="main">
                <h1>Cortador de Grama Autônomo</h1>
                <br>
                <br>
                <br>
                <div class="row">
                    <button class="btn btn-large btn-primary" type="button">Ativar robô</button>
                </div>
            </div>

        </div>

        <div class="container">
        </div>

        <div id="placeholder" style="width:600px;height:300px"></div>
</body>
