
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Estatísticas</title>

    <link href="../../assets/stylesheets/bootstrap.min.css" rel="stylesheet">
    <link href="../../assets/stylesheets/style.css" rel="stylesheet">

    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
  <div class="nav">
    <div class="container">
      <ul class="pull-left">
        <li><a href="index.html">Home</a></li>
        <li><a href="#">Estatísticas</a></li>
      </ul>
    </div>
  </div>




    <div class="container">
<!--    <header class="row">
     hue
   </header>
 -->   <div class="row">
       <div role="main">
           <h1>Estatísticas</h1>
           <br>
           <br>
           <br>
            <table class="table table-bordered">
                <tbody>
                    <tr>
                        <td>1</td>
                        <td><strong>Bateria </strong></td>
                        <td>100%</td>
                        
                    </tr>
                    <tr>
                        <td>2</td>
                        <td><strong>Distância Percorrida</strong></td>
                        <td>100 metros</td>
                    </tr>
                </tbody>
            </table>       
            
            <button class="btn btn-large btn-primary" type="button">Atualizar</button>

        </div>


   </div>
             


   <div class="container">


<!--    <footer class="row">
       
   </footer> -->
</div>


    <script src="../../assets/javascripts/jquery.js"></script>
    <script src="../../assets/javascripts/bootstrap.min.js"></script>
</body>
</html>


